.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.w100 {
    width: 100%;
}

.mt15 {
    margin-top: 15px;
}

.mt5 {
    margin-top: 5px;
}

.mt20 {
    margin-top: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}
.mt150 {
    margin-top: 150px;
}

.mt25 {
    margin-top: 25px;
}

.ml10 {
    margin-left: 10px;
}

.mt30 {
    margin-top: 35px;
}

.mt0 {
    margin-top: 0;
}

.pt0 {
    padding-top: 0;
}

.h0 {
    height: 0px;
}
.pt10 {
    padding-top: 10px;
}

.button-md {
    width: 120px;
}
.text-decoration--none {
    text-decoration: none;
}
